h1.fehler {
    font-size: 30px;
    color:red;
}

p.fehler{
    text-align:center;
}

.custom-corners .ui-bar {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.custom-corners .ui-body {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    border-top-width: 0;
}

.distance {
    margin-bottom: 4px;
    margin-top: 4px;
}
﻿ div.linktext {
    font-size: 20px;
}

div.speakerString {
    font-size: 12px;
    margin-bottom: 14px;
    text-align: left;
}
﻿ html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figure, figcaption, hgroup, menu, header, footer, nav, section, summary, time, mark, audio, video, input {
    border: 0 none;
}
div.personPhoto {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    height: 106px;
    width: 100px;
}
div.personText {
    float: left;
    margin-left: 20px;
    margin-top: 34px;
}
.ui-content {
    height: 87%;
    overflow: scroll;
}

div.speakLocation {
    font-size: 14px;
}

.ui-icon-gear::after {
    background-image: none;
    content: "\f08a";
    font-family: FontAwesome;
    font-size: 16.6px;
    position: absolute;
    text-align: center;
    text-indent: 0;
}

.ui-listview-inset>li.ui-li-has-alt>.ui-btn+.ui-btn {
    border-radius: 0 !important;
}

span.fa {
    font-size: 50px;
}

#trophy {
    color: #ffa54f;
    font-size: 20px;
}

