
.custom-corners .ui-bar {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.custom-corners .ui-body {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    border-top-width: 0;
}

.distance {
    margin-bottom: 4px;
    margin-top: 4px;
}
﻿ div.linktext {
    font-size: 20px;
}

.speakerString {
    font-size: 12px;
    margin-bottom: 14px;
    text-align: left;
}


div.speakerPhoto {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    float: left;
    height: 106px;
    width: 100px;
}
div.speakerText {
    float: left;
    margin-left: 20px;
    margin-top: 34px;
    word-wrap: break-word;
}

div.sessionLocation {
    font-size: 14px;
}

@media all and (max-width: 35em) {
	.my-breakpoint .ui-block-a,
	.my-breakpoint .ui-block-b,
	.my-breakpoint .ui-block-c,
	.my-breakpoint .ui-block-d,
	.my-breakpoint .ui-block-e {
		width: 100%;
		float: none;
	}
}

#speakerDetailTwitter iframe {
            margin: 0 auto auto !important;
            display: block !important;
}
